.image {
    width: 250px;
    height: 250px;
}



.contact {
        margin-bottom: 25px; 
    }
    
    .contact + .repo {
        margin-top: 35px; 
    }
    
    .link + .capacity {
        margin-top: 75px; 
    }

    .capacity + .skills {
        margin-top: 750px; 
    }
    
    .knowledge {
        margin-top: 0px;
    }
    
    .colore-azzurro {
        background-color:rgb(136, 213, 210); 
    }
    
    .name {
        color: rgb(47, 196, 191);
    }

    .profile {
        margin-top: 75px;
    }

    .authorization {
        margin-top: 275px;
        color:dimgrey ;
    }

    .cambio-color {
        background-color:rgb(47, 196, 191) ; 
    }