.image {
    width: 250px;
    height: 250px;
}



.contact {
        margin-bottom: 25px; 
    }
    
    .contact + .repo {
        margin-top: 35px; 
    }
    
    .link + .capacity {
        margin-top: 75px; 
    }

    .capacity + .skills {
        margin-bottom: auto; 
    } 
    
    .knowledge {
        margin-top: 0px;
    }
    
   .skills  {
    margin-bottom: 10px;
   } 
    
    .name {
        color: rgb(47, 196, 191);
    }

    .profile {
        margin-top: 75px;
    }

    .authorization {
        margin-top: 275px;
        color:dimgrey ;
    }

    .color {
        background-color:rgb(47, 196, 191) ; 
    }